<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Model</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script src="../js/common.js"></script> <!-- Include common.js -->
</head>

<body>
<!-- Main Page and Info Buttons -->
<button id="mainpageButton" class="icon-button">Home</button>
<button id="infoButton" class="icon-button">Info</button>

<!-- Tooltip Container -->
<div id="tooltip" class="tooltip"></div>

<div class="form-container">
    <h2>Welcome to Our Learning Model</h2>
    <h3>Choose Your Method</h3>
    <form id="modelChooseForm">
        <button type="button" name="action" value="Single Training">Training</button>
        <button type="button" name="action" value="Test">Test</button>
    </form>
</div>

<script>
    document.querySelectorAll('#modelChooseForm button').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const actionValue = e.target.value;
            handlePageAction('/chooseModel', 'POST', { action: actionValue });
        });
    });
</script>
</body>
</html>
