<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script src="../js/common.js"></script> <!-- Include common.js -->
</head>
<body>
<!-- Main Page and Info Buttons -->
<button id="mainpageButton" class="icon-button">Home</button>
<button id="infoButton" class="icon-button">User Info</button>
<button id="registerButton" class="icon-button" onclick="window.location.href='/register'">Register</button>

<!-- Tooltip Container -->
<div id="tooltip" class="tooltip"></div>

<h1>Login</h1>
<form id="loginForm">
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit" >Login</button>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
        })
            .then(response => {
                if (response.status === 404) {
                    alert('User not found');
                } else
                if (response.status === 401) {
                    alert('Invalid password');
                } else
                if (response.status === 200) {
                    window.location.href = '/chooseModel';
                }
            });
    });
</script>

</body>
</html>
