<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
<!-- Main Page and Home Button -->
<button id="mainpageButton" class="icon-button">Home</button>

<div class="form-container">
    <h2>Your Information</h2>
    <h3>View Your Sessions</h3>
    <form id="sessionChooseForm">
        <button type="button" id="trainingButton">Training Sessions</button>
        <button type="button" id="testButton">Test Sessions</button>
    </form>
</div>

<script>
    document.getElementById('trainingButton').addEventListener('click', function() {
        window.location.href = '/trainingSessions';
    });

    document.getElementById('testButton').addEventListener('click', function() {
        window.location.href = '/testSessions';
    });
</script>
</body>
</html>
