<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre-Training</title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/common.js" defer></script>
</head>
<body>
<!-- Main Page and Info Buttons -->
<button id="mainpageButton" class="icon-button">Home</button>
<button id="infoButton" class="icon-button">User Info</button>

<h1>Pre-Training</h1>
<form id="preTrainForm" action="/pre-training" method="POST">
    <div>
        Hello dear user. Let's start a training session.<br>
        Every time X you will get a picture of an ECG scan. And you will have to classify here.<br>
        Note that you will need to submit the selection.<br>
        The data will be stored and used to improve your and others' performance on ECG scans.<br>
        In submit you will allow us to use this data.<br>
    </div>
    <button type="submit">Start Training</button>
</form>

<script>
    document.querySelectorAll('#preTrainForm button').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            handlePageAction('/pre-training', 'POST');
        });
    });
</script>
</body>
</html>
